<div class="z-2" style="overflow:hidden; height: 80vh;">


  <mat-grid-list cols="2" rowHeight="130" gutterSize="10px" class="ms-3 me-3" style="max-height:79vh;overflow:hidden">


    <cdk-virtual-scroll-viewport itemSize="55" class="example-viewport">

      <div *cdkVirtualFor="let item of items" class="example-item">
        <mat-grid-tile >
          <!--        {{item}}-->

          <mat-card class="example-card" appearance="outlined" matRipple
                    [matRippleCentered]="true"
                    style="background-color: #48d0b0"
          >

<!--              <mat-card-title></mat-card-title>-->
<!--            <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="Photo of a Shiba Inu">-->
            <mat-card-content>
              <div class="row pe-2 pb-1">
                <div class="fw-bold text-white mt-2 col-8">Bulbasaur</div>
                <div class="fw-bold tex abs mt-1  col-4 text-dark opacity-25">#001</div>
              </div>

              <div class="row ps-0">
                <div class="col-4">
                  <!--                  <p>{{ longText }}</p>-->

                  <div class="col justify-content-center">
                    <button class="mb-1 btn btn-sm text-white"
                            style="background-color: #5ddfc6;min-width: 10px; border-radius: 15px"
                    >
                      Plant
                    </button>
                    <button class="btn btn-sm text-white"
                            style="background-color: #5ddfc6;min-width: 10px; border-radius: 15px"

                    >
                      Poison
                    </button>
<!--                    <button mat-flat-button style="background-color: #5ddfc6">Plant</button>-->
                    <!--                    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>-->
                  </div>
                </div>
                <div class="col-8">
                  <div class="d-flex justify-content-end z-1 opacity-50" >
                    <svg id="sphere" data-name="sphere" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 479 480">
                      <defs>
                        <style>
                          .cls-2 {
                            fill: #ffffff;
                          }
                        </style>
                      </defs>
                      <circle class="cls-2" cx="239" cy="240" r="84.5"/>
                      <g>
                        <path class="cls-2" d="m402.92,182.6c-25.21-67.27-90.21-113.6-164.22-113.6s-139.01,46.33-164.22,113.6h-32.35c10.42-35.7,30.51-68.13,58.51-93.74,37.98-34.73,87.29-53.86,138.86-53.86s100.89,19.13,138.86,53.86c28,25.61,48.09,58.04,58.51,93.74h-33.95Z"/>
                        <path class="cls-2" d="m239.5,0C114.22,0,11.32,95.56,0,217.6h100.88c12.38-64.7,69.37-113.6,137.82-113.6s125.44,48.9,137.82,113.6h102.48C467.68,95.56,364.78,0,239.5,0h0Z"/>
                      </g>
                      <g>
                        <path class="cls-2" d="m239.5,445c-51.33,0-100.48-18.97-138.39-53.42-27.82-25.28-47.91-57.29-58.52-92.58h29.67c23.39,70.16,90.25,120,166.44,120s143.05-49.84,166.44-120h31.27c-10.61,35.28-30.7,67.3-58.52,92.58-37.91,34.45-87.06,53.42-138.39,53.42Z"/>
                        <path class="cls-2" d="m478.86,264h-101.27c-9.73,67.84-68.2,120-138.89,120s-129.16-52.16-138.89-120H.14c12.07,121.28,114.62,216,239.36,216s227.29-94.72,239.36-216h0Z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="d-flex justify-content-center z-0">
                    <img
                      id="imgPok"
                      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
                      style=""
                      alt="Bulbasaur">
                  </div>
                </div>
              </div>
            </mat-card-content>

          </mat-card>
        </mat-grid-tile>
      </div>
    </cdk-virtual-scroll-viewport>

  </mat-grid-list>
</div>

<div class="z-3 position-absolute" style="width: 100vw; translate: 0px -35px" id="footer_shadow">

</div>
<!--<mat-grid-list cols="2" rowHeight="180px" gutterSize="10px" >-->
<!--  <mat-grid-tile>-->
<!--    <mat-grid-tile-header>-->
<!--      $-->
<!--    </mat-grid-tile-header>-->
<!--    fsafa-->
<!--    <mat-grid-tile-footer>-->
<!--      Pangacho-->
<!--    </mat-grid-tile-footer>-->
<!--    </mat-grid-tile>-->
<!--  <mat-grid-tile>-->
<!--    <mat-card class="example-card" appearance="outlined">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Chihuahua</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p>{{longText}}</p>-->
<!--    </mat-card-content>-->
<!--    <mat-card-footer class="example-card-footer">-->
<!--      &lt;!&ndash;        <mat-chip-set aria-label="Chihuahua traits">&ndash;&gt;-->
<!--      &lt;!&ndash;          <mat-chip>charming</mat-chip>&ndash;&gt;-->
<!--      &lt;!&ndash;          <mat-chip>graceful</mat-chip>&ndash;&gt;-->
<!--      &lt;!&ndash;          <mat-chip>sassy</mat-chip>&ndash;&gt;-->
<!--      &lt;!&ndash;        </mat-chip-set>&ndash;&gt;-->
<!--    </mat-card-footer>-->
<!--  </mat-card>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile>3</mat-grid-tile>-->
<!--  <mat-grid-tile>-->

<!--    <mat-card class="example-card" appearance="outlined">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>Chihuahua</mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <mat-card-content>-->
<!--        <p>{{longText}}</p>-->
<!--      </mat-card-content>-->
<!--      <mat-card-footer class="example-card-footer">-->
<!--&lt;!&ndash;        <mat-chip-set aria-label="Chihuahua traits">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-chip>charming</mat-chip>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-chip>graceful</mat-chip>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-chip>sassy</mat-chip>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-chip-set>&ndash;&gt;-->
<!--      </mat-card-footer>-->
<!--    </mat-card>-->


<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
