<div class="z-2" style="overflow:hidden; height: 80vh;">

  @defer {
    <mat-grid-list cols="2" rowHeight="130" gutterSize="10px" class="ms-3 me-3" style="max-height:79vh;overflow:hidden">


      <cdk-virtual-scroll-viewport itemSize="55" class="example-viewport">

        <div *cdkVirtualFor="let pokemon of pokeList" class="example-item">
          <mat-grid-tile >
            <!--        {{item}}-->

            <mat-card class="example-card" matRipple
                      appearance="outlined"
                      [matRippleCentered]="true"
                      style="{{getStyle(pokemon)}}"
            >

              <!--              <mat-card-title></mat-card-title>-->
              <!--            <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="Photo of a Shiba Inu">-->
              <mat-card-content>
                <div class="row pe-2 pb-1">
                  <div class="fw-bold text-white mt-2 col-8">{{pokemon.name | titlecase}}</div>
                  <div class="fw-bold tex abs mt-1  col-4 text-dark opacity-25">#{{getId(pokemon.id)}}</div>
                </div>

                <div class="row ps-0">
                  <div class="col-4">
                    <!--                  <p>{{ longText }}</p>-->

                    <div class="col justify-content-center">

                      @for (tipo of getTypeName(pokemon);  track tipo){
                        <button class="mb-1 btn btn-sm text-white"
                                style="{{getStyleButton(pokemon)}};min-width: 10px; border-radius: 15px"
                        >
                          {{tipo|titlecase}}
                        </button>
                      }
                      <!--                    <button mat-flat-button style="background-color: #5ddfc6">Plant</button>-->
                      <!--                    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>-->
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="d-flex justify-content-end z-1 opacity-50" >


                      <svg id="sphere" data-name="sphere" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481 480">
                        <defs>
                          <style>
                            .cls-2 {
                              fill: #e6e6e6;
                            }
                          </style>
                        </defs>
                        <g>
                          <circle class="cls-2" cx="240" cy="240" r="59"/>
                          <path class="cls-2" d="m240,216c13.23,0,24,10.77,24,24s-10.77,24-24,24-24-10.77-24-24,10.77-24,24-24m0-70c-51.91,0-94,42.09-94,94s42.09,94,94,94,94-42.09,94-94-42.09-94-94-94h0Z"/>
                        </g>
                        <g>
                          <g>
                            <path class="cls-2" d="m241,445c-52.15,0-101.84-19.6-139.92-55.18-28.51-26.64-48.54-60.33-58.29-97.32h42.89c22.1,64.72,83.8,110.5,154.32,110.5s132.23-45.78,154.32-110.5h44.86c-23.25,87.69-103.29,152.5-198.19,152.5Zm153.68-256.5c-21.76-65.31-83.59-111.5-154.68-111.5s-132.93,46.19-154.68,111.5h-42.79c9.62-37.25,29.65-71.2,58.26-98.04,38.12-35.76,87.91-55.46,140.21-55.46,95.26,0,175.55,65.31,198.45,153.5h-44.77Z"/>
                            <path class="cls-2" d="m241,0C114,0,10.05,98.65,1.58,223.5h111.48c8.1-62.9,61.84-111.5,126.94-111.5s118.85,48.6,126.94,111.5h113.06v34h-113.2c-8.53,62.41-62.05,110.5-126.8,110.5s-118.27-48.09-126.8-110.5H1.64c8.96,124.38,112.7,222.5,239.36,222.5s240-107.45,240-240S373.55,0,241,0h0Z"/>
                          </g>
                          <g>
                            <path class="cls-2" d="m1.58,223.5H0v34h1.64c-.42-5.78-.64-11.61-.64-17.5,0-5.55.2-11.05.58-16.5Z"/>
                            <path class="cls-2" d="m1.58,223.5H0v34h1.64c-.42-5.78-.64-11.61-.64-17.5,0-5.55.2-11.05.58-16.5h0Z"/>
                          </g>
                        </g>
                      </svg>

                    </div>
                    <div class="w-100 h-100">
                      <div class="d-flex justify-content-center z-0">
                        <img
                          id="imgPok"
                          alt="{{pokemon.name | titlecase}}" src="{{getRoute(pokemon.id)}}">
<!--                        src=`https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/detail/{}001.png`-->
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>

            </mat-card>
          </mat-grid-tile>
        </div>
      </cdk-virtual-scroll-viewport>

    </mat-grid-list>
  }
  @placeholder(minimum 1s) {
    <div class=""></div>
  }

</div>

<div class="z-3 position-absolute" style="width: 100vw; translate: 0px -30px" id="footer_shadow">

</div>
<!--<mat-grid-list cols="2" rowHeight="180px" gutterSize="10px" >-->
<!--  <mat-grid-tile>-->
<!--    <mat-grid-tile-header>-->
<!--      $-->
<!--    </mat-grid-tile-header>-->
<!--    fsafa-->
<!--    <mat-grid-tile-footer>-->
<!--      Pangacho-->
<!--    </mat-grid-tile-footer>-->
<!--    </mat-grid-tile>-->
<!--  <mat-grid-tile>-->
<!--    <mat-card class="example-card" appearance="outlined">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Chihuahua</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p>{{longText}}</p>-->
<!--    </mat-card-content>-->
<!--    <mat-card-footer class="example-card-footer">-->
<!--      &lt;!&ndash;        <mat-chip-set aria-label="Chihuahua traits">&ndash;&gt;-->
<!--      &lt;!&ndash;          <mat-chip>charming</mat-chip>&ndash;&gt;-->
<!--      &lt;!&ndash;          <mat-chip>graceful</mat-chip>&ndash;&gt;-->
<!--      &lt;!&ndash;          <mat-chip>sassy</mat-chip>&ndash;&gt;-->
<!--      &lt;!&ndash;        </mat-chip-set>&ndash;&gt;-->
<!--    </mat-card-footer>-->
<!--  </mat-card>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile>3</mat-grid-tile>-->
<!--  <mat-grid-tile>-->

<!--    <mat-card class="example-card" appearance="outlined">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>Chihuahua</mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <mat-card-content>-->
<!--        <p>{{longText}}</p>-->
<!--      </mat-card-content>-->
<!--      <mat-card-footer class="example-card-footer">-->
<!--&lt;!&ndash;        <mat-chip-set aria-label="Chihuahua traits">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-chip>charming</mat-chip>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-chip>graceful</mat-chip>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-chip>sassy</mat-chip>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-chip-set>&ndash;&gt;-->
<!--      </mat-card-footer>-->
<!--    </mat-card>-->


<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
