/*mat-grid-tile {*/
/*  background: lightblue;*/
/*}*/

.example-card {
  height: 130px;
  width: 300px;
  max-width: 300px;
}

/*.example-card-footer {*/
/*  padding: 16px;*/
/*}*/
.example-viewport {
  height: 80vh;
  /*border: #1a1b1f solid 1px;*/
}

.example-item {
  height: 180px;
}

#footer_shadow{
  -webkit-box-shadow: 5px 50px 50px 50px #bebebe;
  box-shadow: 5px 50px 50px 50px #cccccc;
}
