/*mat-grid-tile {*/
/*  background: lightblue;*/
/*}*/

.example-card {
  height: 180px;
  max-width: 300px;
}

/*.example-card-footer {*/
/*  padding: 16px;*/
/*}*/
.example-viewport {
  height: 500px;
  /*border: #1a1b1f solid 1px;*/
}

.example-item {
  height: 180px;
}
