/*mat-grid-tile {*/
/*  background: lightblue;*/
/*}*/

.example-card {
  height: 130px;
  width: 300px;
  max-width: 300px;
}

/*.example-card-footer {*/
/*  padding: 16px;*/
/*}*/
.example-viewport {
  height: 80vh;
  /*border: #1a1b1f solid 1px;*/
}

.example-item {
  height: 180px;
}

#footer_shadow{
  -webkit-box-shadow: 5px 50px 50px 50px #bebebe;
  box-shadow: 5px 50px 50px 50px #cccccc;
}

#sphere{
  position:absolute;
  width:100px;
  translate: 28px 0px;
}
#imgPok{
  width:90px;
  translate: 17px -5px;
  filter: blur(0.3px);
}
C
