:root, :host {
  --sys-background: #f9f9ff;
  --sys-on-background: #191c20;
  --sys-surface: #ffffff; /*aaaaaaa*/
  --sys-surface-dim: #d9dae0;
  --sys-surface-bright: #f9f9ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f2f3fa;
  --sys-surface-container: #ededf4;
  --sys-surface-container-high: #e7e8ee;
  --sys-surface-container-highest: #e1e2e9;
  --sys-on-surface: #191c20;
  --sys-surface-variant: #e0e2ec;
  --sys-on-surface-variant: #43474e;
  --sys-inverse-surface: #2e3035;
  --sys-inverse-on-surface: #f0f0f7;
  --sys-outline: #74777f;
  --sys-outline-variant: #c4c6cf;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #3f5f90;
  --sys-primary: #3f5f90;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #d5e3ff;
  --sys-on-primary-container: #254777;
  --sys-inverse-primary: #a8c8ff;
  --sys-secondary: #3d5f90;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #d5e3ff;
  --sys-on-secondary-container: #234777;
  --sys-tertiary: #774f83;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #fad7ff;
  --sys-on-tertiary-container: #5e386a;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #75777d;
  --sys-neutral-variant: #74777f;
  --sys-primary-fixed: #d5e3ff;
  --sys-primary-fixed-dim: #a8c8ff;
  --sys-on-primary-fixed: #001b3c;
  --sys-on-primary-fixed-variant: #254777;
  --sys-secondary-fixed: #d5e3ff;
  --sys-secondary-fixed-dim: #a7c8ff;
  --sys-on-secondary-fixed: #001c3b;
  --sys-on-secondary-fixed-variant: #234777;
  --sys-tertiary-fixed: #fad7ff;
  --sys-tertiary-fixed-dim: #e6b6f1;
  --sys-on-tertiary-fixed: #2e0a3b;
  --sys-on-tertiary-fixed-variant: #5e386a;
  --sys-inverse-secondary: #a7c8ff;
  --sys-inverse-tertiary: #e6b6f1;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
