:root, :host {
  --sys-background: #fff9ec;
  --sys-on-background: #1e1c13;
  --sys-surface: #fff9ec;
  --sys-surface-dim: #dfd9cc;
  --sys-surface-bright: #fff9ec;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f9f3e5;
  --sys-surface-container: #f4eddf;
  --sys-surface-container-high: #eee8da;
  --sys-surface-container-highest: #e8e2d4;
  --sys-on-surface: #1e1c13;
  --sys-surface-variant: #e9e2d0;
  --sys-on-surface-variant: #4b4739;
  --sys-inverse-surface: #333027;
  --sys-inverse-on-surface: #f7f0e2;
  --sys-outline: #7c7768;
  --sys-outline-variant: #cdc6b4;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #6d5e0f;
  --sys-primary: #6d5e0f;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #f8e287;
  --sys-on-primary-container: #534600;
  --sys-inverse-primary: #dbc66f;
  --sys-secondary: #6e5e0e;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #f9e287;
  --sys-on-secondary-container: #534600;
  --sys-tertiary: #2a6a47;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #aff2c4;
  --sys-on-tertiary-container: #0b5130;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #7b776c;
  --sys-neutral-variant: #7c7768;
  --sys-primary-fixed: #f8e287;
  --sys-primary-fixed-dim: #dbc66f;
  --sys-on-primary-fixed: #211b00;
  --sys-on-primary-fixed-variant: #534600;
  --sys-secondary-fixed: #f9e287;
  --sys-secondary-fixed-dim: #dbc66e;
  --sys-on-secondary-fixed: #221b00;
  --sys-on-secondary-fixed-variant: #534600;
  --sys-tertiary-fixed: #aff2c4;
  --sys-tertiary-fixed-dim: #93d5a9;
  --sys-on-tertiary-fixed: #002110;
  --sys-on-tertiary-fixed-variant: #0b5130;
  --sys-inverse-secondary: #dbc66e;
  --sys-inverse-tertiary: #93d5a9;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
